---
title: AURZA - Doloman Dress
styleId: doloman
styleName: Christina
styleFormalName: Doloman Dress
itemId: doloman-1
itemDesc: Doloman - Cream / Black
price: 2,200
description:
- Perfect for curves whilst amazingly comfortable at the same time, the doloman top can be paired with any skirt.
- Its pleated shoulders result in beautiful draping lines and provide a looser fit. Keep it simple with a straight pencil or add a killer kick with the ruffle at the back.
desc_1: <%= description[0] %>
care:
- Viscose/polyester/elastane crepe for ultimate breathability, drape, softness. and easy care.
- Twisted yarns provide extra stretch and comfort. Faux leather option also has inherent stretch in the fabric.
- Crepe fabric - machine wash cold, delicate. Dry cleanable. Do not tumble dry, low iron. Faux leather cold wash only, do not tumble dry or iron.
colour: Cream / Black
---
<div ng-controller="productController" id="top">
    <!--<div ng-view></div>-->
    <div id="shopItemView" class="container">
        <div class="row">
            <div class="col-sm-5">
                <div id="dress_image_panel" class="row">
                    <div class="image col-sm-8 col-sm-push-3">
                        <img src="/images/collection/{{itemId}}-lg-front.jpg"
                             alt="{{styleName}} - {{itemDesc}}" class="img-responsive"
                             data-pin-description="Next Stop: Pinterest!" data-pin-height="28" data-pin-color="white">

                        <!--<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="white" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_28.png" /></a>-->

                    </div>
                    <div class="views col-sm-3 col-sm-pull-8">
                        <div class="row">
                            <div id="front" class="col-xs-4 col-sm-12">
                                <img src="/images/collection/{{itemId}}-lg-front.jpg"
                                     alt="{{styleName}} - {{itemDesc}} - Front View"
                                     class="img-responsive img-thumbnail">
                            </div>
                            <div id="back" class="col-xs-4  col-sm-12">
                                <img src="/images/collection/{{itemId}}-lg-back.jpg"
                                     alt="{{styleName}} - {{itemDesc}} - Back View"
                                     class="img-responsive img-thumbnail">
                            </div>
                            <div id="dress" class="col-xs-4  col-sm-12">
                                <img src="/images/collection/{{itemId}}-lg-dress.jpg"
                                     alt="{{styleName}} - {{itemDesc}}"
                                     class="img-responsive img-thumbnail">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="builder_controls_panel" class="col-sm-7">
                <div class="breaded">
                    <ul class="nav" id="options">
                        <li class="active">
                            <a href="#">Style</a>
                        </li>
                        <li>
                            <a href="shop.html#!/item/{{styleId}}/{{itemId}}/fit"
                               ng-click="gaEvent('nav', 'click', 'collection-item-fit');">Fit</a>
                        </li>
                        <li>
                            <a>Checkout</a>
                        </li>
                    </ul>
                </div>
                <!--<div ng-include="'/views/ng-partials/partial-style.html'"></div>-->
                <div id="style-panel">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="intro col-sm-5">
                                <div class="name">{{styleName}}</div>
                                <div class="formal-name">{{styleFormalName}}</div>
                                <div class="price">HKD {{price}}</div>
                            </div>
                            <div class="action col-sm-2">
                                <div><a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="white" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_28.png" /></a></div>
                            </div>
                            <div class="action col-sm-5">
                                <div class="row">
                                    <a class="btn btn-primary" style="width:180px;"
                                       href="shop.html#!/item/{{styleId}}/{{itemId}}/fit"
                                       ng-click="gaEvent('button', 'click', 'collection-item-buy');">
                                        Buy</a>
                                </div>
                                <div class="row">
                                    or
                                </div>
                                <div class="row">
                                    <!--<div class="action col-sm-5  align-right">-->
                                    <a class="btn btn-default" style="width:180px;"
                                       href="#!/design/{{styleId}}/{{itemId}}/design" data-toggle="tab"
                                       ng-click="gaEvent('button', 'click', 'collection-item-customize');"
                                       style="font-family: 'Nothing You Could Do', cursive;font-size: 20px;">
                                        Customize</a>

                                </div>
                            </div>
                        </div>
                        <hr class="grad-line">
                        <div class="row">
                            <div class="description col-sm-12">
                                {{#each description}}
                                    <p>{{.}}</p>
                                {{/each}}
                            </div>
                        </div>

                        <hr class="grad-line">
                        <div class="row">
                            <div class="care col-sm-12">
                                <h2>Fabric & Care</h2>
                                {{#each care}}
                                    <p>{{.}}</p>
                                {{/each}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="care col-sm-12">
                                <h2>Accessories</h2>

                                <p>Accessories not included by default, to add a belt please
                                    <a href="#!/design/{{styleId}}/{{itemId}}/design" data-toggle="tab"
                                       ng-click="gaEvent('link', 'click', 'collection-item-fit');">customize this dress</a></p>
                            </div>
                        </div>
                        <!--<hr class="grad-line">-->
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- /designBuildView -->

</div>