<link rel="canonical" href="http://aurza.com/shop{{page-canonical}}" />
<!-- http://moz.com/blog/meta-data-templates-123-->
<!-- Place this data between the <head> tags of your website -->
<title ng-bind="page.title">AURZA - Design Builder</title><!-- Page Title. Maximum length 60-70 characters -->
<meta name="description" content="{{page-description}}"><!--Page description. No longer than 155 characters.-->

<!-- Schema.org markup for Google+ -->
<!--<meta itemprop="name" content="{{page-title}}"> The Name or Title Here &ndash-->
<!--<meta itemprop="description" content="{{page-description}}">-->
<!--<meta itemprop="url" content="" />-->
<!--<meta itemprop="image" content="{{page-image}}">-->

<!-- Twitter Card data -->
<meta name="twitter:card" content="{{page-twitterCard}}">
<!-- Twitter summary card with large image must be at least 280x150px -->
<!--<meta name="twitter:image:src" content=" http://www.example.com/image.html">-->
<meta name="twitter:site" content="@AURZAcustom">
<meta name="twitter:title" content="{{page-title}}">
<meta name="twitter:description" content="{{page-description}}">
<meta name="twitter:creator" content="@AURZAcustom">
<meta name="twitter:image" content="{{page-image}}">      <!-- content=" http://www.example.com/image.html"-->
<meta name="twitter:data1" content="{{product-currency}} {{product-price}}">    <!-- content="$3" -->
<meta name="twitter:label1" content="Price">                <!-- content="Price"-->
<meta name="twitter:data2" content="{{product-color}}">     <!-- content="Black"-->
<meta name="twitter:label2" content="Colour">               <!-- content="Color"-->
<meta name="twitter:url" content="{{page-url}}">

<!-- Open Graph data -->
<meta property="og:title" content="{{page-title}} by AURZA" />
<!--<meta property="og:type" content="article" />-->
<meta property="og:type" content="product" />
<meta property="og:url" content="{{page-snapshotUrl}}" />
<meta property="og:image" content="{{page-image}}" />
<meta property="og:image" content="{{product-image1}}" />
<meta property="og:image" content="{{product-image2}}" />
<meta property="og:description" content="{{page-description}}" />
<meta property="og:site_name" content="AURZA" />
<meta property="og:brand" content="AURZA" />
<!--http://stackoverflow.com/questions/10836135/when-do-i-need-a-fbapp-id-or-fbadmins-->
<meta property="fb:page_id" content="213657758786138" />
<meta property="fb:app_id" content="153275411536544" />
<meta property="fb:admins" content="762528798,539947125,100003106574448" />
<!--<meta property="og:upc" content="{{product-code}}" />-->
<meta property="og:price:amount" content="{{product-price}}" />
<meta property="og:price:currency" content="{{product-currency}}" />
<meta property="og:availability" content="instock" />
<meta property="og:availability:destinations" content="{{product-destinations}}" />
<!--<meta property="product:color" content="{{product-color}}" />-->
<meta property="product:gender" content="{{product-gender}}" >
